<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjjz.product.mapper.CategoryMapper">

    <select id="findAllCategory" resultType="com.zjjz.model.product.Category">
    SELECT * FROM category
  </select>

    <select id="findOneCategory" resultType="com.zjjz.model.product.Category">
     SELECT * FROM category WHERE level = 0
  </select>

    <select id="findTwoCategory" resultType="com.zjjz.model.product.Category">
     SELECT * FROM category WHERE level = 1
  </select>

    <select id="getCategoryById" resultType="com.zjjz.model.product.Category" parameterType="integer">
      SELECT * FROM category WHERE cid =#{cid}
    </select>

    <insert id="addCategory" parameterType="com.zjjz.model.product.Category">
    INSERT INTO category VALUES (#{cid},#{cname},#{level})
  </insert>

    <update id="updateCategory" parameterType="com.zjjz.model.product.Category">
    UPDATE category SET cname = #{cname} ,level =#{level} WHERE cid = #{cid}
  </update>

    <delete id="deleteCategory" parameterType="int">
    DELETE FROM category WHERE cid =#{cid}
  </delete>


</mapper>